.index-background {
  position: relative;
  width: 100%;
  height: 450px;
  left: 0;
  top: 0;
  background-image: url('http://res.cloudinary.com/dptviwjop/image/upload/c_scale,w_2561/v1450561771/photo-1450331351560-234603850697_petfxo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.index-title {
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
}
