.index-background {
  position: relative;
  width: 100%;
  height: 450px;
  left: 0;
  top: 0;
  bottom: 0;
  background-image: url('http://res.cloudinary.com/dptviwjop/image/upload/c_scale,w_2758/v1450826026/photo-1450387635522-8ecb968079bf_laqqoi.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.index-title {
  color: black;
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  padding-top: 50px;
}

.index-intro {
  background-color: whitesmoke;
  width: auto;
  height: 100%;
  position: relative;
  text-align: center;
}

.index-intro-div {
  display: inline-block;
}

.intro-ul {
  /*display:inline-block;*/
  position: relative;
  text-align: center;
  width: auto;
  height: 100%;
  /*margin-left: auto;
  margin-right: auto;*/
  padding-top: 30px;
}

.intro-li {
  vertical-align: top;
  display: inline-block;
  /*float: left;*/
  width: 300px;
  height: 150px;
  padding-left: 40px;
  padding-right: 40px;
}

.intro-title {
  color: royalblue;
  font-size: 25px;
  padding-bottom: 15px;
  font-weight:600;
}

.intro-body {
  /*position: absolute;
  top: 50%;
  vertical-align: middle;*/
  /*transform: translateY(-50%);*/
}
