.location-visit-wish-div {
  position: relative;
  text-align: center;
  height: 85px;
  width: 100%;
}

.location-visit-wish-form {
  display: inline;
  width: 50%;
}

.location-visit-wish-input {
  width: 300px;
  height: 30px;
  font-size: 16px;
  padding: 0px 5px;
}

.location-visit-wish-input:active {
  border: 2px solid blue;
}

.location-input-1 {
  float: left;
  /*padding-left: 80px;*/
}

.location-input-2 {
  float: right;
  /*padding-right: 80px;*/
}

.location-visit-wish-submit {
  margin-top: 10px;
  width: 250px;
  height: 30px;
  border-radius: 2px;
  background-color: whitesmoke;
  border: white;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.location-visit-wish-submit:hover {
  background-color: steelblue;
}
