/* navigation bar */
.nav-bar {
  background-color: steelblue;
  width: 100%;
  height: 50px;
  padding: 0;
  margin-bottom: 0!important;
  border-bottom: 0;
  position: relative;
  /*left:auto;
  right:auto;
  margin-left: auto;
  margin-right: auto;*/
}

.recess {
  /*float: left;*/
  padding-left: 40px;
  padding-right: 20px;
  margin: 0px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  color: white;
  font-size: 25px;
  cursor: pointer;
}

ul.nav-bar-links {
  float: right;
}

.nav-item {
  float: left;
  padding-left: 20px;
  padding-right: 40px;
}

.nav-link {
  text-decoration: none;
  font-size: 17px;
  color: white;
}
