/* user pref and reviews */
.user-selection {
  position: relative;
  text-align: center;
  /*margin-left: auto;
  margin-right: auto;*/
  height: 40px;
  width: 100%
}

.user-ul {
  /*display: inline-block;
  position: relative;*/
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-padding-start: 0px;
}

.user-review-link {
  text-decoration: none;
  color: black;
}

.user-li {
  display: inline;
  /*float:left;*/
  /*width: %;*/
  /*padding-left: 100px;*/
  /*padding-right: 50px;*/
  font-size: 20px;
  /*padding-left: 20px;
  padding-right: 20px;*/
  /*padding: 5px 20px;*/
  /*border: 1px solid black;
  border-radius: 5px;*/

}

.user-li-1 {
  float: left;
  width: 50%;
}

.user-li-2 {
  float: right;
  width: 50%;
}


/* search location */
.location-input-div {
  position: relative;
  text-align: center;
}

.location-input-form {

}

.search-location-btn {
  /*padding-top: 20px;*/
  margin-top: 10px;
  width: 350px;
  height: 30px;
  border-radius: 2px;
  background-color: whitesmoke;
  border: white;
  /*color: white;*/
  font-size: 20px;
  transition: all 0.2s ease 0s;
}

.search-location-btn:hover {
  background-color: steelblue;
}


.recommendations-background {
  background-color: whitesmoke;
  width: auto;
  height: 100%;
  position: relative;
  text-align: center;
}

.recommendations {
  display: inline-block;
  /*margin-left: auto;
  margin-right: auto;*/
}

.recommendations-title {
  padding-top: 50px;
  font-weight: normal;
  font-size: 40px;
}

.recommendations-ul {
  position: relative;
  text-align: center;
  width: auto;
  height: 100%;
}

.recommendations-li {
  display: inline-block;
}

.recommendation-box {
  width: 375px;
  height: 275px;
  float: left;
  padding: 25px;
  /*margin: 25px;*/
}

.recommendation-box:hover {
  cursor: pointer;
}

.recommendation-img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recommendation-text {
  top: 0;
  background-color: white;
}

.recommendation-name {
  /*margin-top: 15px;*/
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 22px;
}

.recommendation-rating {
  padding-bottom: 10px;
}
