/* user pref and reviews */
.user-selection {
  position: relative;
  text-align: center;
  height: 40px;
  width: 100%
}

.user-ul {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  -webkit-padding-start: 0px;
}

.user-review-link {
  text-decoration: none;
  color: black;
}

.user-li {
  display: inline;
  font-size: 20px;
}

.user-li-1 {
  float: left;
  width: 50%;
}

.user-li-2 {
  float: right;
  width: 50%;
}

/* location visits and wishes */
.location-visit-div {
  position: relative;
  text-align: center;
  width: 100%;
}

.location-popup {
  padding-top: 20px;
  padding-bottom: 15px;
}

.location-visit-title {
  font-size: 20px;
  padding-bottom: 5px;
}

.location-visit-link {
  font-size: 25px;
  text-decoration: none;
}

.location-visit-delete {
  font-size: 20px;
  padding: 3px;
  margin-top: 8px;
  background-color: whitesmoke;
  width: 15%;
  border: 0;
  transition: all 0.3s ease 0s;
}

.location-visit-delete:hover {
  cursor: pointer;
  background-color: firebrick;
  color: white;
}

/* search location */
.location-input-div {
  position: relative;
  text-align: center;
}

.location-input-form {

}

.search-location-btn {
  margin-top: 10px;
  width: 350px;
  height: 30px;
  border-radius: 2px;
  background-color: whitesmoke;
  border: white;
  font-size: 20px;
  transition: all 0.3s ease 0s;
}

.search-location-btn:hover {
  background-color: steelblue;
}


/* recommendations */
.recommendations-background {
  background-color: whitesmoke;
  width: auto;
  height: 100%;
  position: relative;
  text-align: center;
}

.recommendations {
  display: inline-block;
}

.recommendations-title {
  padding-top: 50px;
  font-weight: normal;
  font-size: 40px;
}

.recommendations-ul {
  position: relative;
  text-align: center;
  width: auto;
  height: 100%;
  padding-bottom: 45px;
}

.recommendations-li {
  display: inline-block;
}

.recommendation-box {
  width: 375px;
  height: 275px;
  float: left;
  padding: 25px;
  /*margin: 25px;*/
}

.recommendation-box:hover {
  cursor: pointer;
}

.recommendation-img {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.recommendation-text {
  top: 0;
  background-color: steelblue;
  color: white;
}

.recommendation-name {
  /*margin-top: 15px;*/
  padding-top: 15px;
  padding-bottom: 8px;
  font-size: 22px;
}

.recommendation-rating {
  padding-bottom: 10px;
}
